body {
  font-family: "Poppins", sans-serif;
  color: #494949;
}
img {
  max-width: 100%;
  width: 100%;
}
/* Navigation 
   ============================= */
nav {
  background-color: white;
}
a.navbar-brand {
  font-family: "Clicker Script", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #eb5757;
}
.navbar-light .navbar-brand {
  color: #eb5757;
  font-style: Regular;
  font-size: 66px;
  line-height: 80px;
  text-align: center;
  vertical-align: top;
}
button#navbtn a {
  color: white;
}

li a {
  font-family: "Poppins", sans-serif;
}

nav button {
  background-color: #eb5757;
}
nav button.btn {
  color: white;
}
/* Jumbotron 
   ============================= */
.jumbotron {
  color: black;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-image: url("/img/lovely-cakes.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* object-fit: scale-down; */
}

.jumbotron h1 {
  font-family: "Clicker Script", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 4em;
  /* line-height: 90px; */
  color: #eb5757;
}

.jumbotron button {
  background-color: #eb5757;
}
.jumbotron a {
  color: white;
}

/* About Us 
   ============================= */
.about h2 {
  font-family: "Clicker Script", cursive;
  color: #eb5757;
  font-style: regular;
  font-size: 60px;
  line-height: 79px;
}
.about i {
  color: #eb5757;
}
hr {
  width: 150px;
  border: 1px solid #eb5757;
}
p.about-content {
  font-size: 17px;
  /* line-height: 27px; */
}
/* .img2 { */
/* position: absolute; */
/* width: 400px;
  left: 100px; */
/* z-index: 2; */
/* top: 50px;
  max-width: 200px;
} */
.about-thirdcol {
  width: 200px;
  height: 500px;
  background-color: #eb5757;
}
.card1 {
  /* border: 1px solid #eb5757; */
  max-width: 100%;
  /* min-height: 700px; */
}
.card1-text {
  background-color: #eb5757;
  color: white;
  opacity: 0.7;
  /* margin-top: 17.5em; */
}

.card1 p {
  font-style: medium;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
}

/* Testimony
   ============================= */
.testify-head {
  /* font-size: 18px; */
  line-height: 40px;
}
.img {
  /* To keep */
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  background-image: url("/img/glasses.jpeg");
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  background-clip: padding-box;
}

/* Utilities 
   ============================= */
.head {
  width: 275px;
  margin: auto;
  text-align: center;
}
.head img {
  /* width: 20px;
    transform: translateY(-10px); */
}
.head h2 {
  /* font-size: 40px; */
  font-family: "clicker script";
  font-weight: 100;
  /* color: #4B420B; */
  position: relative;
  /* width: 100%; */
  /* margin: auto; */
}
.head h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 70px;
  width: 50px;
  height: 3px;
  background-color: #eb5757;
}
.head h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 70px;
  width: 50px;
  height: 3px;
  background-color: #eb5757;
}

@media screen and (min-width: 756px) {
  .img2 {
    position: absolute;
    left: 100px;
    z-index: 2;
    top: 50px;
    max-width: 100%;
    width: 100%;
  }
  .jumbotron h1 {
    font-size: 6em;
  }
}
